.nav28 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-crimson);
  cursor: pointer;
}
.nav29 {
  display: none;
}
.nav29,
.nav30 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.nav-menu7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-43xl);
}
.lets-talk9 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.button36,
.overlay {
  flex-direction: row;
  align-items: center;
}
.button36 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-crimson);
  border-radius: var(--br-81xl);
  overflow: hidden;
  display: none;
  justify-content: center;
}
.overlay {
  position: relative;
  background-color: var(--color-gray-300);
  width: 257px;
  display: flex;
  justify-content: flex-start;
  padding: 51px 0;
  box-sizing: border-box;
  gap: var(--gap-106xl);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 420px) {
  .lets-talk9 {
    font-size: var(--font-size-smi);
  }
  .button36 {
    padding: var(--padding-xs) var(--padding-3xl);
    box-sizing: border-box;
  }
}
